html,
body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 170%;
	overflow: hidden;
}

a
{
	cursor: pointer;
}

a, a:active, a:hover, a:link, a:visited
{
	color: #000;
	text-decoration: none;
}

a.error_lnk
{
	color: blue !important; /* TODO */
	text-decoration: underline !important;
}

hr
{
	width: 20%;
}

.link_styled
{
	color: blue !important;
	text-decoration: underline !important;
	display: block;
	width: 100% !important;
	height: 100% !important;
	
}

.cell_wrap
{
	width:100% !important;
	height:100% !important;
}

.chx-yes
{
	color: green; /* TODO */
}

.chx-no
{
	color: red; /* TODO */
}

.hidden
{
	visibility: hidden;
	display: none;
	opacity: 0;
	transition: opacity 5000 ease-in-out;
}

.required_lbl, .error_lbl
{
	color: red; /* TODO */
	font-style: italic;
}

.required_lbl
{
	font-size: .7em;
}

.error_lbl
{
	font-size: .9em;
}

.required:after
{
	color: red; /* TODO */
	content: '*';
	padding-left: 2px;
	float: right;
	
	/*super*/
	position: relative;
	top: -0.7em;
	font-size: .9em;
	font-family: monospace;
}

/* For alignment */
.not-required:after
{
	color: #FFF; /* TODO - Must match bg color */
	content: '.';
	padding-left: 2px;
	float: right;
	font-size: .9em;
	font-family: monospace;
}



input.error
{
	outline: 1px dotted red; /* TODO */
	line-height: 1.2em;
}

label.error
{
	display: block;
	clear: both;
	float: right;
	line-height: 1.9em;
	color: red; /* TODO */
	font-size: .8em;
	font-style: italic;
	padding-bottom: 5px;
	
}

input[type='button'], .file-upload
{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance:none;
	
	/* TODO */ All colors here
	background: #edcc93;
	background-image: -webkit-linear-gradient(top, #edcc93, #d1a245);
	background-image: -moz-linear-gradient(top, #edcc93, #d1a245);
	background-image: -ms-linear-gradient(top, #edcc93, #d1a245);
	background-image: -o-linear-gradient(top, #edcc93, #d1a245);
	background-image: linear-gradient(to bottom, #edcc93, #d1a245);
	
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	
	border: 1px solid #DDD;
	padding: 5px;
	
	font-family: Tahoma, Geneva, sans-serif; /* TODO Must remain consistent with site font*/
	font-size: .9em;
	text-align: center;
}

input[type='button']:hover, .file-upload:hover
{
	-webkit-appearance:none;
	background: #f5d585;
	background-image: -webkit-linear-gradient(top, #f5d585, #d4b25b);
	background-image: -moz-linear-gradient(top, #f5d585, #d4b25b);
	background-image: -ms-linear-gradient(top, #f5d585, #d4b25b);
	background-image: -o-linear-gradient(top, #f5d585, #d4b25b);
	background-image: linear-gradient(to bottom, #f5d585, #d4b25b);
}