
/* Site layout */
#wrapper {
	min-height: 100%;
	position: relative;
}

#content, #sidebar
{
	padding-bottom: 40px;
}

#topbar
{
	width: 100%;
	height: 110px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

header
{
	width: 100%;
	height: 70px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#topmenu_wrapper
{
	width: 100%;
	height: 40px;
}

#inner_wrapper
{
	position: absolute;
	top: 110px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#sidebar, #main
{
	float: left;
	padding: 0px;
	margin: 0px;
}

#sidebar
{
	height: 100%;
	min-width: 15%;
	width: 15%;
}

#main_wrapper
{
	height: 100%;
	min-width: 85%;
	width: 85%;
	overflow: scroll;
	background: green;  /*TODO*/
}

#main
{
	margin: 30px;
}

footer
{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

